<style>
  @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&family=Roboto:ital,wght@1,300&family=STIX+Two+Text:ital@1&family=Style+Script&display=swap');
    </style>
<div class="row description">
    <div class="col-sm-2">
        <div class="img">
        </div>
        <div class="col-sm-6">
            <p class="album-name">gang-leader</p>
            <p class="band-name">anirudh ravichander</p>
            <p class="album-release-date">sep 13, 2019</p>
        </div>
    </div>
  </div>
<div class="row tracklisting">
  <table>
    <tr class="header">
      <th>No</th>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>1</th>
      <th>ra ra(roar of revengers) </th>
      <th>4:09</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>2</th>
      <th>hoyna hoyna</th>
      <th>4:29</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>3</th>
      <th>ninnu chuse anandamlo</th>
      <th>4:51</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>4</th>
      <th>gangu leader</th>
      <th>3:16</th>
      <th>$ 0.99</th>
    </tr>
   


