<style>
  @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&family=Roboto:ital,wght@1,300&family=STIX+Two+Text:ital@1&family=Style+Script&display=swap');
</style>
<div class="row description">
  <div class="col-sm-2">
    <div class="img">
    </div>
    <div class="col-sm-6">
      <p class="album-name">Icarus Falls</p>
      <p class="band-name">Zayn Malik</p>
      <p class="album-release-date">14 December 2018</p>
    </div>
    <div>
      <iframe width="500" height="350" src="https://www.youtube.com/embed/KYxY8dMnFDM" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding-left: 30em;"></iframe>
    </div>
  </div>
</div>
<div class="row tracklisting">
  <table>
    <tr class="header">
      <th>No</th>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>1</th>
      <th>Rainberry</th>
      <th>2:51</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>2</th>
      <th>Natural</th>
      <th>3:13</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>3</th>
      <th>Back to Life</th>
      <th>3:15</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>4</th>
      <th>Common</th>
      <th>3:52</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>5</th>
      <th>Imprint</th>
      <th>3:10</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>6</th>
      <th>Stand Still</th>
      <th>3:18</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>7</th>
      <th>Tonight</th>
      <th>3:40</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>8</th>
      <th>Flight of the Stars</th>
      <th>3:20</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>9</th>
      <th>if in Got you</th>
      <th>3:19</th>
      <th>$ 0.99</th>
    </tr>

    <tr>
      <th>10</th>
      <th>talk to me</th>
      <th>3:00</th>
      <th>$ 0.99</th>
    </tr>

  </table>