.img{
    background: url('https://upload.wikimedia.org/wikipedia/en/1/16/Justin_Bieber_-_Changes.png') no-repeat;
    height: 300px;
    width: 300px;
    padding-right: 5em;
    padding-bottom: 5em;
}
.col-sm-2{
    display: flex;
}
.album-name{
    font-family: 'Hahmlet', serif;
    font-size: 2em;
}
.band-name{
    font-family: 'Style Script', cursive;
    font-size: 2em;
}
.album-release-date{
    font-family: 'STIX Two Text', serif;
}
ul{
    display: flex;
}
span{
    padding-right: 2em;
}
.track-name{
    padding-right: 20em;
}
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .header{
    font-family: arial, sans-serif;
  }