<style>
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&family=Roboto:ital,wght@1,300&family=STIX+Two+Text:ital@1&family=Style+Script&display=swap');
  </style>
<div class="row description">
    <div class="col-sm-2">
        <div class="img">
        </div>
        <div class="col-sm-6">
            <p class="album-name">Changes</p>
            <p class="band-name"> Justin Bieber</p>
            <p class="album-release-date">February 14, 2020</p>
          </div>
          <div>
          <iframe width="500" height="350" src="https://www.youtube.com/embed/yrYxt1FZYgA" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding-left: 30em;"></iframe>
        </div>
    </div>
  </div>
<div class="row tracklisting">
  <table>
    <tr class="header">
      <th>No</th>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>1</th>
      <th>All Around me</th>
      <th>2:16</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>2</th>
      <th>Habitual</th>
      <th>2:48</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>3</th>
      <th>come around me</th>
      <th>3:20</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>4</th>
      <th>Intentions</th>
      <th>3:32</th>
      <th>$ 0.99</th>
    </tr>  
    <tr>
      <th>5</th>
      <th>Yummy</th>
      <th>3:28</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>6</th>
      <th>Available</th>
      <th>3:15</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>7</th>
      <th>Forever</th>
      <th>3:39</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>8</th>
      <th>Running Over</th>
      <th>2:59</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>9</th>
      <th>Take it out on me</th>
      <th>2:58</th>
      <th>$ 0.99</th>
    </tr> 
    <tr>
      <th>10</th>
      <th>second Emotion</th>
      <th>3:22</th>
      <th>$ 0.99</th>
    </tr>

