<style>
  @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&family=Roboto:ital,wght@1,300&family=STIX+Two+Text:ital@1&family=Style+Script&display=swap');
    </style>
<div class="row description">
  <div class="col-sm-2">
      <div class="img">
      </div>
      <div class="col-sm-6">
          <p class="album-name">Revival</p>
          <p class="band-name">Eminem</p>
          <p class="album-release-date">December 15, 2017</p>
      </div>
      <div>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/8CdcCD5V-d8" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding-left: 30em;"></iframe>
      </div>
  </div>
</div>
<div class="row tracklisting">
  <table>
    <tr class="header">
      <th>No</th>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>1</th>
      <th>River</th>
      <th>3:47</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>2</th>
      <th>Walk on Water</th>
      <th>5:04</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>3</th>
      <th>believe</th>
      <th>5:15</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>4</th>
      <th>chloraseptic</th>
      <th>5:01</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>5</th>
      <th>framed</th>
      <th>4:13</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>6</th>
      <th>Revival(Interlude)</th>
      <th>0:51</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>7</th>
      <th>Like home(featuring Alicia Keys)</th>
      <th>4:05</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>8</th>
      <th>Remind me</th>
      <th>3:45</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>9</th>
      <th>Remind me(intro)</th>
      <th>0:26</th>
      <th>$ 0.99</th>
    </tr>
    <tr>
      <th>10</th>
      <th>Untouchable</th>
      <th>6:10</th>
      <th>$ 0.99</th>
    </tr>    
  </table>