<div class="row description">
    <div class="col-sm-2">
        <div class="img">
        </div>
        <div class="col-sm-6">
            <p class="album-name">Revival</p>
            <p class="band-name">Eminem</p>
            <p class="album-release-date">December 15, 2017</p>
        </div>
    </div>
  </div>
<div class="row tracklisting">
    <ul>
        <div class="col-sm-5">
          <span class="track-number">No</span>
          <span class="track-name">Name</span>
        </div>
        <div class="col-sm-3 text-right">
          <span class="track-time">Time</span>
          <span class="price-and-buy">Price</span>
        </div>
    </ul>
    <ul>
        <div class="col-sm-5">
          <span class="track-number">1</span>
          <span class="track-name">River</span>
        </div>
        <div class="col-sm-3 text-right">
          <span class="track-time">3:47</span>
          <span class="price-and-buy"><button>$.099</button></span>
        </div>
    </ul>
  </div>