<style>
    @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&family=Roboto:ital,wght@1,300&family=STIX+Two+Text:ital@1&family=Style+Script&display=swap');
</style>
<div class="row description">
    <div class="col-sm-2">
        <div class="img">
        </div>
        <div class="col-sm-6">
            <p class="album-name">navarasa</p>
            <p class="band-name">karthik</p>
            <p class="album-release-date">aug 6, 2021</p>
        </div>
    </div>
</div>
<div class="row tracklisting">
    <table>
        <tr class="header">
            <th>No</th>
            <th>Name</th>
            <th>Time</th>
            <th>Price</th>
        </tr>
        <tr>
            <th>1</th>
            <th>thooriga</th>
            <th>3:22</th>
            <th>$ 0.99</th>
        </tr>
        <tr>
            <th>2</th>
            <th>alai alaiyaaga</th>
            <th>1:36</th>
            <th>$ 0.99</th>
        </tr>
        <tr>
            <th>3</th>
            <th>naanum</th>
            <th>4:34</th>
            <th>$ 0.99</th>
        </tr>
        <tr>
            <th>4</th>
            <th>adhiruha</th>
            <th>2:03</th>
            <th>$ 0.99</th>
        </tr>
    </table>